delete from budget where category_id in (select id from categories where name in ('Health', 'Utilities', 'Rent')); delete from transactions where category_id in (select id from categories where name in ('Health', 'Utilities', 'Rent')); delete from categories where name in ('Health', 'Utilities', 'Rent');
