DELETE FROM transactions WHERE category_id IN (SELECT id FROM categories WHERE name IN ('Rent', 'Health', 'Utilities', 'Medical', 'Bills')); DELETE FROM budgets WHERE category_id IN (SELECT id FROM categories WHERE name IN ('Rent', 'Health', 'Utilities', 'Medical', 'Bills')); DELETE FROM categories WHERE name IN ('Rent', 'Health', 'Utilities', 'Medical', 'Bills');
