name: wallet_app
description: A Personal Finance Tracker with Liquid Glass Design.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^1.10.25
  fl_chart: ^0.66.2
  google_fonts: ^6.1.0
  intl: ^0.19.0
  glassmorphism: ^3.0.0
  provider: ^6.1.1
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/
