BEGIN; DELETE FROM transactions WHERE category_id IN (SELECT id FROM categories WHERE name IN ('Health', 'Utilities', 'Rent')); DELETE FROM budgets WHERE category_id IN (SELECT id FROM categories WHERE name IN ('Health', 'Utilities', 'Rent')); DELETE FROM categories WHERE name IN ('Health', 'Utilities', 'Rent'); COMMIT;
